{
  "agent": {
    "metrics_collection_interval": 60,
    "run_as_user": "root"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/infra-monitor/app.log",
            "log_group_name": "{{ cloudwatch_log_group }}",
            "log_stream_name": "{instance_id}-app",
            "retention_in_days": 14,
            "timestamp_format": "%Y-%m-%d %H:%M:%S"
          },
          {
            "file_path": "/var/log/infra-monitor/error.log",
            "log_group_name": "{{ cloudwatch_log_group }}",
            "log_stream_name": "{instance_id}-error",
            "retention_in_days": 14,
            "timestamp_format": "%Y-%m-%d %H:%M:%S"
          }
        ]
      }
    }
  }
}
